.body { 
		font-family: Georgia;
		margin: 0px;
		background-color: #4691FF; 
}

#header { 
		font: bold 48px Trebuchet MS;
		padding-left: 30px;
		border-bottom: 3px solid black;
		background-color: #E9967A;
		margin-bottom: 0px; 
}

#content { 
		float: right;
		padding: 1px 20px 1px 10px;
		width: 85%;
		margin: 0px;
		height: 700px;
		border: none;
		background-color: #fff; }

#nav { 
		float: left;
		width: 10%;
		margin-top: 0px;
		font-weight: bold;
		padding: 10px;
		border: none;
		font-family: Trebuchet MS; }

#nav a { 
		text-decoration: none;
		color: #006; }

#nav a:hover { 
		color: #c00; }

.h2 { 
		margin-top: 10px; }